[user]
	name = Postmodern
	email = postmodern.mod3@gmail.com
	signingkey = B9515E77
[core]
	excludesfile = ~/.gitignore
[github]
	user = postmodern
[branch "master"]
	remote = origin
	merge = refs/heads/master
[alias]
	amend = commit -a --amend
	clear = reset --hard HEAD
	changelog = !sh -c 'git log $(git tag | tail -n 1)..HEAD'
	authors = !sh -c 'git log --format=\"%aN <%aE>\" -- $1 | sort -u' -
	sed = !sh -c 'git ls-files -z $2 | xargs -0 sed -i -e \"$1\"' -
[push]
	default = matching
